# =========================
# ENV FILES (CRITICAL)
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# NODE
# =========================
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# NEXT.JS
# =========================
.next
out
dist

# =========================
# BUILD
# =========================
build

# =========================
# LOGS
# =========================
logs
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode
.idea

# =========================
# SECRETS / KEYS
# =========================
*.pem
*.key

# =========================
# OPTIONAL CACHE
# =========================
.cache
.vercel
*.tsbuildinfo
# Archives
*.tar
*.tar.gz
*.zip
*.7z
*.rar

# Backup files
*.save
*.bak
*.old


